{% extends 'app/base.html' %}
{% load static %}
{% block about_content %}
    <section>
        <p>Welcome to our website! We are a dedicated team passionate about providing the best to our community. Founded on the principles of health and sustainability, we are proud to be a leading provider in our industry.</p>
    </section>
    <section>
        <h2>TH True Milk - A Commitment to Nutrition and Growth</h2>
        <p>TH True Milk, founded by visionary Thai Huong, is centered around the development of physical and intellectual capabilities as a strategic investment in the nation's future. For over 13 years, TH True Milk has pioneered in producing healthful, natural products and has actively collaborated with the government, educational sectors, and various organizations to implement long-term programs such as School Milk, School Health Program, and Vietnamese Nutrition Project aiming to enhance the stature and physical health of future generations.</p>
        <p>Since its inception in 2012, TH True Milk has achieved remarkable milestones, including establishing the largest and most modern dairy farm in Southeast Asia and becoming the largest dairy enterprise in Vietnam with a herd of 45,000 cows. The company's efforts have been recognized internationally, earning multiple awards for excellence in dairy products.</p>
    </section>
    <section>
        <h2>TH True Milk - TRUE MILK FACTORY</h2>
        <!-- Corrected Placeholder for an image related to TH True Milk's vision -->
        <img src="{% static '/app/images/Banner-3-1.jpg' %}" class="d-block w-100" alt="TH True Milk Vision" />
        <!-- Corrected Placeholder for an image related to TH True Milk's achievements -->
        <img src="{% static 'app/images/NUT-loc-oc-cho-800.png' %}" class="d-block w-100" alt="TH True Milk Achievements" />
    </section>
{% endblock about_content %}
{%load static%}